doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', contant='width=device-width, initial-scale=1, shrink-to-fit=no')
        title Magic Box
        link(rel='stylesheet', href='css/bootstrap.min.css')
        link(rel='stylesheet', href='css/styles.css')
    body